.page {
    max-width: 1280px;
    background-color: #2A2C2F;
    color: #FFFFFF;
    font-family: 'Inter', Arial;
    -webkit-font-smoothing: antialiased; 
    -moz-osx-font-smoothing: grayscale; 
    margin: 0 auto;
}

