.intro__list {
    font-style: normal;
<<<<<<< HEAD
    font-weight: normal;
=======
    font-weight: bold;
>>>>>>> 88c28e4efb757df4324352e7cc2b987a9e60e0e6
    font-size: 0.75rem;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    list-style-type: none;
    align-self: flex-start;
<<<<<<< HEAD
}
=======
}

/* .intro__list: */
>>>>>>> 88c28e4efb757df4324352e7cc2b987a9e60e0e6
