.cover__subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: 1.125rem;
    line-height: 1.2;
    width: 100%;
    max-width: 22.5rem;
    text-align: center;
    margin: 0;
    z-index: 2;
}

.cover__subtitle:hover + .cover__overlay {
    opacity: 0.3;
    transition: 0.6s;
}

@media screen and (max-width: 47.9rem) {
    .cover__subtitle {
        font-size: 0.875rem;
        line-height: 1.1;
    }
}