.cover {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
max-width: 74rem;
min-height: 46.25rem;
margin: 0 auto 5.75rem;
position: relative;
}

@media screen and (max-width: 79.9rem) {
    .cover {
        min-height: 40rem;
    }
}

@media screen and (max-width: 63.9rem) {
    .cover {
        min-height: 30rem;
    }
}

@media screen and (max-width: 47.9rem) {
    .cover {
        min-height: 12.5rem;
    }
}