.cover__title {
    font-style: normal;
    font-weight: 900;
    font-size: 4.5rem;
    line-height: 1;
    text-align: center;
    width: 100%;
    max-width: 35rem;
    margin: 0 0 2rem;
    z-index: 2;
}

.cover__title:hover + .cover__subtitle + .cover__overlay {
    opacity: 0.3;
    transition: 0.6s;
}

@media screen and (max-width: 47.9rem) {
    .cover__title {
        font-size: 2rem;
        line-height: 1.1;
    }
}
